<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util-3.2.xsd"
       default-lazy-init="true">

    <context:annotation-config />

    <!-- For TemporaryFileDTO -->
    <bean id="chatJob" class="main.java.dto.TemporaryFileDTO">
        <property name="projectName" value="Chat" />
        <property name="inputPath" value="/kafka/logging_consumer/chat/new/" />
    </bean>

    <bean id="friendsJob" class="main.java.dto.TemporaryFileDTO">
        <property name="projectName" value="Friends" />
        <property name="inputPath" value="/kafka/logging_consumer/friends/new/" />
    </bean>

    <bean id="photosJob" class="main.java.dto.TemporaryFileDTO">
        <property name="projectName" value="Photos" />
        <property name="inputPath" value="/kafka/logging_consumer/photos/new/" />
    </bean>

    <bean id="emailsJob" class="main.java.dto.TemporaryFileDTO">
        <property name="projectName" value="Emails" />
        <property name="inputPath" value="/kafka/logging_consumer/emails/new/" />
    </bean>
</beans>
