<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util-3.2.xsd"
       default-lazy-init="true">

    <context:annotation-config />

    <!-- For TemporaryFileDTO -->
    <bean id="chatJob" class="main.java.dto.TemporaryFileDTO">
        <property name="projectName" ref="chatProjectName" />
        <property name="inputPath" ref="inputPathChatProperty" />

    </bean>

    <bean id="friendsJob" class="main.java.dto.TemporaryFileDTO">
        <property name="projectName" ref="friendsProjectName" />
        <property name="inputPath" ref="inputPathFriendsProperty" />
    </bean>

    <bean id="photosJob" class="main.java.dto.TemporaryFileDTO">
        <property name="projectName" ref="photosProjectName" />
        <property name="inputPath" ref="inputPathPhotosProperty" />
    </bean>

    <bean id="emailsJob" class="main.java.dto.TemporaryFileDTO">
        <property name="projectName" ref="emailsProjectName" />
        <property name="inputPath" ref="inputPathEmailsProperty" />
    </bean>

    <!-- For project names  -->
    <bean id="chatProjectName" class="java.lang.String">
        <constructor-arg value="Chat"/>
    </bean>


    <bean id="friendsProjectName" class="java.lang.String">
        <constructor-arg value="Friends"/>
    </bean>

    <bean id="emailsProjectName" class="java.lang.String">
        <constructor-arg value="Emails"/>
    </bean>

    <bean id="photosProjectName" class="java.lang.String">
        <constructor-arg value="Photos"/>
    </bean>

    <!-- For input paths  -->
    <bean id="inputPathChatProperty" class="java.lang.String">
        <constructor-arg value="/kafka/logging_consumer/chat/new/"/>
    </bean>

    <bean id="inputPathEmailsProperty" class="java.lang.String">
        <constructor-arg value="/kafka/logging_consumer/emails/new/"/>
    </bean>

    <bean id="inputPathFriendsProperty" class="java.lang.String">
        <constructor-arg value="/kafka/logging_consumer/friends/new/"/>
    </bean>

    <bean id="inputPathPhotosProperty" class="java.lang.String">
        <constructor-arg value="/kafka/logging_consumer/photos/new/"/>
    </bean>
</beans>
